






{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Climate-Impact</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</head>
<body>
	{%  include 'navbar.html' %}
	<div class="container-fluid">
	{% block content %}



	{% endblock %}
    </div>

    <form method="POST" action="">
    	{% csrf_token %}
    <div style="border-radius:10px;border:2px solid black;width:50%;margin:15px;padding-bottom:10px;display:inline-block;">
    <p class="text" style="font-size:30px;margin:0px;padding:15px; padding-top:20px">Used less printed papers this week !</p>
<p class="text" style="margin:0px;padding:15px;">Learn how to use all the functions and take advantage of the provided resources.</p>


<div class="btn-group" style="width:40%">
<input class="btn login_btn" style="width:10%" type="submit" value="Yay ! 😃">
<input class="btn login_btn" style="width:10%" type="submit" value="Sadly,No  ! 😓">				   			
</div>					
</div>
</form>

	<hr>
	<h5>Conserve Earth , Reduce Footprint !</h5>
	
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>